body{
    background-color: rebeccapurple;
    background-size: cover;
}

#bubble {
    width: 500px;
    height: 500px;
    position:absolute;
}
#bubble img{
    width: 20vw;
    height: 20vw;
    image-rendering: pixelated;
}